$primary:#0784ff;
$primary-over:#0094cc;
$danger:#f44;
$danger-over:#d9363e;
$success:#5cb85c;
$dark:#111;
$light:#fff;
$gray:#eee;

$btn-color:white;

$radius:12px;
$radius-sm:6px;

$page-padding:10px;
$default-padding:10px;

$max-width:900px;

$shadow:0 6px 18px rgba(0,0,0,0.05);